<div class="home-page">


    <div class="header" >
        <img class="digital-selfie" src="/assets/photos/digital-art-selfie1.PNG" alt="digitally drawn self portrait of me">
        <div class="titles">
            <h3><b>Alayna Johnston</b></h3>
            <p>Software Engineer</p>
        </div>
    </div>
    <br>

    <div class="body">
        <div class="section">
            <h4><b>About</b></h4>
            <p>I'm an associate software engineer ....</p>    
        </div>

        <div class="section">
            <h4><b>Work Experience</b></h4>
            <h6 class="item-date">Mar 2022 - Present</h6>
            <p class="item-name">Associate Software Engineer | Surescripts</p>
            <p>stufff....</p> 
            <span class="badge badge-success">Angular</span>
            <span class="badge badge-success">HTML</span>
            <span class="badge badge-success">CSS</span>
            <span class="badge badge-success">Java</span>

        

            <h6 class="item-date">Jan 2021 - Mar 2022</h6>
            <p class="item-name">Software Engineer | Tata Consultancy Services</p>
            <p>stuff ....</p>
            <span class="badge badge-success">Angular</span>
            <span class="badge badge-success">HTML</span>
            <span class="badge badge-success">CSS</span>
            <span class="badge badge-success">Java</span>    </div>

        <div class="section">
            <h4><b>Extra</b></h4>
            <h6 class="item-date">Nov 2022</h6>
            <p class="item-name">Live! 360 Tech Conference</p>
            <p>stuff...</p>
            <span class="badge badge-success">Angular</span>
            <span class="badge badge-success">HTML</span>
            <span class="badge badge-success">CSS</span>
            <span class="badge badge-success">Java</span>    </div>    

        <div class="section">
            <div class="side-projects">
                <h4><b>Side Projects</b></h4>
                <div class="card project">
                    <div class="card-body">
                        <p>card linked to github repos with border</p>
                        <span class="badge badge-success">Angular</span>
                        <span class="badge badge-success">HTML</span>
                        <span class="badge badge-success">CSS</span>
                        <span class="badge badge-success">Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <div class="footer">
        <a target="_blank" href="https://github.com/ayyjayy2">GitHub</a>
        <span>&#8226;</span>
        <a target="_blank" href="https://www.linkedin.com/in/alaynajohnston98/">LinkedIn</a>
        <span>&#8226;</span> 
        <a target="_blank" href="https://medium.com/@laynsleaf">Medium</a>
    </div>
</div>
