<div class="home-page">


    <div class="header" >
        <img class="digital-selfie" src="/assets/photos/digital-art-selfie1.PNG" alt="digitally drawn self portrait of me">
        <div class="titles">
            <h3><b>Alayna Johnston</b></h3>
            <p>Software Engineer</p>
        </div>
    </div>

    <div class="body">
        <div style="margin-bottom: 3%;" class="section">
            <h4><b>About</b></h4>
            <p>I'm an associate software engineer with expertise in full stack development
                and large-scale data processing. I specialize in building web applications
                and manipulating complex datasets, with a focus on enhancing user experiences.
                I collaborate effectively with cross-functional teams to ensure quality and timely 
                project delivery.
            </p>
            <p> My passion for web development motivates me to work on personal coding projects 
                outside of my regular work hours. In addition to coding, I enjoy flying as a private
                pilot, traveling, playing sand volleyball, and renovating my old house to name a few.
            </p>    
        </div>

        <h4 class="work-label"><b>Work Experience</b></h4>
        <div class="card section">
            <div class="card-body">
                <div class="job-details">
                    <h6 class="item-date">Mar 2022 - Present</h6>
                    <p class="item-name">Associate Software Engineer | Surescripts</p>
                    <p>I'm responsible for the remote development of a full stack internal Angular microsite,
                       and 12 Java applications that handle large-scale datasets 
                       to enhance customer experience. I collaborate closely with senior developers
                       and QA team to ensure quality and timely completion.
                    </p> 
                    <span class="badge badge-success">Angular</span>
                    <span class="badge badge-success">HTML</span>
                    <span class="badge badge-success">CSS</span>
                    <span class="badge badge-success">Typescripts</span>
                    <span class="badge badge-success">Bootstrap</span>
                    <span class="badge badge-success">.NET</span>
                    <span class="badge badge-success">Full Stack</span>
                    <span class="badge badge-success">SQL</span>
                    <span class="badge badge-success">Java</span>
                    <span class="badge badge-success">Spring Boot</span>
                    <span class="badge badge-success">REST API</span>
                    <span class="badge badge-success">Git</span>
                    <span class="badge badge-success">Agile</span>
                    <span class="badge badge-success">Remote</span>

                </div>
            
                <div class="job-details">
                    <h6 class="item-date" style="margin-top: 3%;">Jan 2021 - Mar 2022</h6>
                    <p class="item-name">Software Engineer | Tata Consultancy Services</p>
                    <p>I completed a 3-month virtual Java full stack training program, developing
                        web applications using the listed tools. I also participated in a program 
                        that covered a wide range of Big Data topics including MySQL, Scala, and MongoDB.</p>
                    <span class="badge badge-success">Angular</span>
                    <span class="badge badge-success">HTML</span>
                    <span class="badge badge-success">CSS</span>
                    <span class="badge badge-success">Java</span>  
                    <span class="badge badge-success">Bootstrap</span>
                    <span class="badge badge-success">Full Stack</span>
                    <span class="badge badge-success">SQL</span>
                    <span class="badge badge-success">JavaScript</span>
                    <span class="badge badge-success">Node.js</span>
                    <span class="badge badge-success">Web Sockets</span>
                    <span class="badge badge-success">Big Data</span>
                    <span class="badge badge-success">Scala</span>
                    <span class="badge badge-success">MongoDB</span>
                    <span class="badge badge-success">Remote</span>
                </div>
            </div>
        </div>

        <div class="section other">
            <div class="extra">
                <h4><b>Extra</b></h4>
                <div class="card project">
                    <div class="card-body">
                        <h6 class="item-date">Nov 2022</h6>
                        <p class="item-name">Live! 360 Tech Conference</p>
                        <p>I traveled to attend this 5-day conference with a focus on 
                            the web development path. I listened intently to speakers and
                            programmed in fast-paced workshops. 
                        </p>
                        <span class="badge badge-success">.NET Core</span>
                        <span class="badge badge-success">AI</span>
                        <span class="badge badge-success">Visual Studio</span>
                        <span class="badge badge-success">Cross Platform</span> 
                        <span class="badge badge-success">PWA</span>
                        <span class="badge badge-success">Angular</span>
                    </div>
                </div>
            </div>  
        </div>    

        <div class="section other">
            <div class="side-projects">
                <h4><b>Side Projects</b></h4>
                <div class="card project">
                    <div class="card-body">
                        <h5 class="card-title">Portfolio</h5>
                        <p>This very website. What kind of SWE would I be if I didn't program my own portfolio? ;)</p>
                        <span class="badge badge-success">Angular</span>
                        <span class="badge badge-success">HTML</span>
                        <span class="badge badge-success">CSS</span>
                        <span class="badge badge-success">Bootstrap</span>
                        <span class="badge badge-success">Git</span>
                        <a target="_blank" class="blog-link stretched-link" href="https://github.com/ayyjayy2/Portfolio"></a>
                    </div>
                </div>
                <div class="card project">
                    <div class="card-body">
                        <h5 class="card-title">Jungle Chatbox</h5>
                        <p>A front-end jungle themed chatbox.</p>
                        <span class="badge badge-success">Node.js</span>
                        <span class="badge badge-success">HTML</span>
                        <span class="badge badge-success">CSS</span>
                        <span class="badge badge-success">Web Sockets</span>
                        <span class="badge badge-success">JavaScript</span>
                        <span class="badge badge-success">Bootstrap</span>
                        <a target="_blank" class="blog-link stretched-link" href="https://github.com/ayyjayy2/Jungle-Chatbox"></a>
                    </div>
                </div>
            </div>
        </div>    

        <div class="section other">
            <div class="blogs">
                <h4><b>Blogs</b></h4>
                <div class="card project">
                    <div class="card-body">
                        <h5 class="card-title">Finding the Best Web Host as a Beginner</h5>
                        <p>Finding a web host can be challenging. The wording is confusing, the prices are all over, you just simply want to upload your code and have a website already! Here, I will gather details about various hosting platforms from price and perks. I’ll focus on th...</p>
                        <span class="badge badge-success">Web Hosting</span>
                        <span class="badge badge-success">Web Development</span>
                        <span class="badge badge-success">Medium</span>
                        <span class="badge badge-success">How-to</span>
                        <a target="_blank" href="https://medium.com/@laynsleaf/finding-the-best-web-host-as-a-beginner-f52c4b3a4722" class="blog-link stretched-link"></a>
                    </div>
                </div>
                <div class="card project">
                    <div class="card-body">
                        <h5 class="card-title">How‐To Deploy Your Angular Code to Hostinger</h5>
                        <p>Okay, so you have your web hosting platform setup, you have your code started and looking good, so... now what? This guide is specific to uploading your own code to Hostinger...</p>
                        <span class="badge badge-success">Web Hosting</span>
                        <span class="badge badge-success">Web Development</span>
                        <span class="badge badge-success">GitHub Wiki</span>
                        <span class="badge badge-success">Angular</span>
                        <span class="badge badge-success">Hostinger</span>
                        <span class="badge badge-success">How-to</span>
                        <a target="_blank" href="https://github.com/ayyjayy2/laynsleaf/wiki/6.-How%E2%80%90To-Deploy-Your-Angular-Code-to-Hostinger" class="blog-link stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <a target="_blank" href="https://github.com/ayyjayy2">GitHub</a>
        <span>&#8226;</span>
        <a target="_blank" href="https://www.linkedin.com/in/alaynajohnston98/">LinkedIn</a>
        <span>&#8226;</span> 
        <a target="_blank" href="https://medium.com/@laynsleaf">Medium</a>
    </div>
</div>
